# R session files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# RStudio / IDE
.Rproj.user
.Rproj.user/*
.Rproj.user/**

# OS
.DS_Store
Thumbs.db

# Auth / tokens
.httr-oauth

# Quarto
.quarto/
*.html
*.pdf

# Pkgdown / documentation
docs/
inst/doc/
Meta/
doc/
pkgdown/

# Development / build artifacts
dev/
src_phenomenals